<div class="container">
  <div>
    <img class="image" src="{{image}}" />
  </div>
  <div class="userInfo">
    <div>
      <span *ngIf="!isDownload" class="votes">votes: {{votes}}</span>
    </div>
    <div class="buttonContainer">
      <div class="userName">{{userName}}</div>
      <img *ngIf="isWinner" class="winnerBadge" src="assets/winner.png"/>
      <button *ngIf="!isExample" class="circleButton">vote</button>
    </div>
    <div *ngIf="isDownload" class="voteButtonContainer">
      <button class="button" >Download</button>
    </div>
  </div>
</div>
