@import "../styles";

$headerHeight: 80px;

.header {
  background-color: $dark-gray;
  height: $headerHeight;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainText {
  font-size: 26px;
  line-height: 50px;
}
.subText {
  font-size: 14px;
}

.links {
}

.links > a {
  color: white;
  height: $headerHeight;
  text-decoration: none;
  line-height: 80px;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .header {
    height: calc(#{$headerHeight} + 20px);
  }
  .links > a {
    line-height: 100px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    height: calc(#{$headerHeight} + 80px);
    flex-direction: column;
    & > .links {
      justify-content: center;
    }
  }
}
