@import "../styles";

$headerHeight: 50px;

.header {
  background-color: $dark-gray;
  height: $headerHeight;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainText {
  font-size: 26px;
  line-height: 35px;
}
.subText {
  font-size: 14px;
}

.links {
}

.links > a {
  color: white;
  height: $headerHeight;
  text-decoration: none;
  line-height: 50px;
  padding: 10px;
}
