<div class="container">
  <p class="header">Your profile</p>
  <div class="divItem">
    <label>Upload a meme for this week:</label>
    <input type="file">
    <button class="smallerButton">Upload</button>
  </div>
  <div class="divItem">
  <label>Change your username:</label>
    <input class="input" type="text">
    <button class="smallerButton">Update</button>
  </div>
  <div class="divItem">
    <label>Change your password:</label>
    <input class="input" type="text" placeholder="new password">
    <input class="input" type="text" placeholder="repeat password">
    <button class="smallerButton">Update</button>
  </div>
</div>
