/* You can add global styles to this file, and also import other style files */

body {
  padding: 0px;
  margin: 0px;
  background-color: whitesmoke;
}

$gray:#2a3439;
$light-gray: #5F6E75;
$dark-gray: #0E1F27;

$dark-red: #EF003C;
$red: #ff003f;
$light-red: #FF6188;
