
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$memecompetition-primary: mat-palette($mat-indigo);
$memecompetition-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$memecompetition-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$memecompetition-theme: mat-light-theme($memecompetition-primary, $memecompetition-accent, $memecompetition-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($memecompetition-theme);

/* You can add global styles to this file, and also import other style files */

body {
  padding: 0px;
  margin: 0px;
  background-color: whitesmoke;
  font-family: 'Lato';
}

h2 {
  font-weight: normal;
}

$gray:#2a3439;
$light-gray: #5F6E75;
$dark-gray: #0E1F27;

$dark-red: #EF003C;
$red: #ff003f;
$light-red: #FF6188;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.basicForm {
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;

}

.input {
  width: 275px;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  &:focus {
    outline: none;
  }
}

.button {
  background-color: $light-red;
  border: none;
  color: white;
  width: 125px;
  padding: 15px;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.smallerButton {
  background-color: $light-red;
  border: none;
  color: white;
  width: 75px;
  padding: 10px;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.circleButton {
  background-color: $light-red;
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }

}
