<div>
  <header class="header">
      <h2 class="headerText">
        This week's pictures
      </h2>
      <p class="downloadText">Download the picture you like, create your meme, then upload when it's ready</p>
  </header>
  <app-two-item-grid>
    <app-card
      [isExample]=true
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
    ></app-card>
    <app-card
      [isExample]=true
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
    ></app-card>
  </app-two-item-grid>
  <div>
  <div class="submissionsText ">
    Memes created so far this week
  </div>
  <app-four-item-grid>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
  </app-four-item-grid>
</div>
</div>
