<div>
  <header class="header">
    <h2 class="headerText">
      This week's memes
    </h2>
  </header>
  <app-two-item-grid>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
    <app-card
      [userName]="'daniel'"
      [image]="'https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"
      [votes]="1"
    ></app-card>
  </app-two-item-grid>
</div>
